# SMART Raw Data Pre-processing for Mental Health Trends Dashboard

### Desired Product
* Simplified CSV file with pre-computed statistical information for mental health trends dashboard

### Rationale
* Because the SMART dataset from the CDC is quite large, a responsive Javascript app needs to work with some information pre-computed.
* As an expert in statistical analysis and data science, and the owner of the dashbaord, I am the best person to do the pre-computations
* Building a reproducible pipeline for pre-processing now will make it much easier to maintain the dashboard

## Requirements
*  The standard Python 3.7 environment installed with conda, as well as Pandas (0.24.2) and SciPy (1.2.1)
*  The file `mental_health_env.yml` provides the info for reproducing the environment on Windows 10
*  The raw data should be in a file called `smart_raw_data.csv` in the same directory as this notebook.  
*  The raw data can be downloaded from the Centers for Disease Control at:  https://chronicdata.cdc.gov/Behavioral-Risk-Factors/Behavioral-Risk-Factors-Selected-Metropolitan-Area/j32a-sa6u  (hit the "Export" button and choose the "CSV" file option (non-Excel)

In [1]:
# Dependencies
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression as LinReg
import scipy.stats as stats

In [2]:
# Import dataframe
raw_df = pd.read_csv('smart_raw_data.csv')
raw_df.head()

,Year,Locationabbr,Locationdesc,Class,Topic,Question,Response,Break_Out,Break_Out_Category,Sample_Size,...,Data_Value_Footnote,DataSource,ClassId,TopicId,LocationID,BreakoutID,BreakOutCategoryID,QuestionID,RESPONSEID,GeoLocation
0,2011,10020,"Abbeville, LA Micropolitan Statistical Area",Health Status,Overall Health,How is your general health?,Excellent,Overall,Overall,85,...,NaN,BRFSS,CLASS08,Topic41,10020,BO1,CAT1,GENHLTH,RESP056,"(29.7868663, -92.290084)"
1,2011,10020,"Abbeville, LA Micropolitan Statistical Area",Health Status,Overall Health,How is your general health?,Very good,Overall,Overall,153,...,NaN,BRFSS,CLASS08,Topic41,10020,BO1,CAT1,GENHLTH,RESP057,"(29.7868663, -92.290084)"
2,2011,10020,"Abbeville, LA Micropolitan Statistical Area",Health Status,Overall Health,How is your general health?,Good,Overall,Overall,152,...,NaN,BRFSS,CLASS08,Topic41,10020,BO1,CAT1,GENHLTH,RESP058,"(29.7868663, -92.290084)"
3,2011,10020,"Abbeville, LA Micropolitan Statistical Area",Health Status,Overall Health,How is your general health?,Fair,Overall,Overall,80,...,NaN,BRFSS,CLASS08,Topic41,10020,BO1,CAT1,GENHLTH,RESP059,"(29.7868663, -92.290084)"
4,2011,10020,"Abbeville, LA Micropolitan Statistical Area",Health Status,Overall Health,How is your general health?,Poor,Overall,Overall,43,...,NaN,BRFSS,CLASS08,Topic41,10020,BO1,CAT1,GENHLTH,RESP060,"(29.7868663, -92.290084)"

In [3]:
# Check length -- we should see about 120k rows
len(raw_df)

120059

### Filter and Simplify Data

### Direct Measures of Behavior

First, we'll filter by choosing only questions of interest
For behavior questions (5) we can filter directly by question / response
for instance, for the "do you have health insurance?" question, we need only the "yes" response to get a behavior indicator.  
The direct indicators we want are:

In [4]:
#  1) Do you have health insurance (adults 18-64) / yes : questionID = _HCVU651, RESPONSEID = RESP046
# Note that everyone over 65 has insurance via Medicare
has_insurance_df = raw_df.loc[(raw_df.QuestionID == '_HCVU651') & (raw_df.RESPONSEID == 'RESP046')]
has_insurance_df.head()

,Year,Locationabbr,Locationdesc,Class,Topic,Question,Response,Break_Out,Break_Out_Category,Sample_Size,...,Data_Value_Footnote,DataSource,ClassId,TopicId,LocationID,BreakoutID,BreakOutCategoryID,QuestionID,RESPONSEID,GeoLocation
9,2011,10020,"Abbeville, LA Micropolitan Statistical Area",Health Care Access/Coverage,Under 65 Coverage,Adults aged 18-64 who have any kind of health ...,Yes,Overall,Overall,270,...,NaN,BRFSS,CLASS07,Topic59,10020,BO1,CAT1,_HCVU651,RESP046,"(29.7868663, -92.290084)"
93,2011,10100,"Aberdeen, SD Micropolitan Statistical Area",Health Care Access/Coverage,Under 65 Coverage,Adults aged 18-64 who have any kind of health ...,Yes,Overall,Overall,299,...,NaN,BRFSS,CLASS07,Topic59,10100,BO1,CAT1,_HCVU651,RESP046,"(45.5222131, -98.7041456)"
175,2011,10420,"Akron, OH Metropolitan Statistical Area",Health Care Access/Coverage,Under 65 Coverage,Adults aged 18-64 who have any kind of health ...,Yes,Overall,Overall,457,...,NaN,BRFSS,CLASS07,Topic59,10420,BO1,CAT1,_HCVU651,RESP046,"(41.1466315, -81.3501066)"
260,2011,10740,"Albuquerque, NM Metropolitan Statistical Area",Health Care Access/Coverage,Under 65 Coverage,Adults aged 18-64 who have any kind of health ...,Yes,Overall,Overall,1898,...,NaN,BRFSS,CLASS07,Topic59,10740,BO1,CAT1,_HCVU651,RESP046,"(35.1165976, -106.4565247)"
343,2011,10900,"Allentown-Bethlehem-Easton, PA-NJ Metropolitan...",Health Care Access/Coverage,Under 65 Coverage,Adults aged 18-64 who have any kind of health ...,Yes,Overall,Overall,708,...,NaN,BRFSS,CLASS07,Topic59,10900,BO1,CAT1,_HCVU651,RESP046,"(40.7892985, -75.3983269)"

In [5]:
# We should see somewhat over 1000 rows ...
len(has_insurance_df)

1071

In [6]:
# We'll build the selected data by appending one dataframe at a time
# starting with a copy of the first
filtered_df = has_insurance_df.copy()

In [7]:
#2) Have you participated in any physical activity in the last 30 days? / yes, questionID = _TOTINDA, RESPONSEID = RESP046
phys_act_df = raw_df.loc[(raw_df.QuestionID == '_TOTINDA') & (raw_df.RESPONSEID == 'RESP046')]
filtered_df = filtered_df.append(phys_act_df)
len(phys_act_df)

1071

In [8]:
# Check that we are appending properly (lengths should add)
len(filtered_df)

2142

In [9]:
#3) Have you ever had your cholesterol checked? / yes, questionID = BLOODCHO, RESPONSEID = RESP046
# This one is a good stand-in for people being concerned about their health
chol_chk_df = raw_df.loc[(raw_df.QuestionID == 'BLOODCHO') & (raw_df.RESPONSEID == 'RESP046')]
filtered_df = filtered_df.append(chol_chk_df)
len(filtered_df)

2615

In [10]:
#4) (adults) Do you currently smoke? / yes, questionID = _RFSMOK3, RESPONSEID = RESP046
adult_smok_df = raw_df.loc[(raw_df.QuestionID == '_RFSMOK3') & (raw_df.RESPONSEID == 'RESP046')]
filtered_df = filtered_df.append(adult_smok_df)
len(filtered_df)

3686

In [11]:
#5) Have you consumed any alcohol in past 30 days? / yes, questionID = DRNKANY5, RESPONSEID = RESP046
# Although heavy drinking might be a more appropriate indicator, questions are restricted to males
# and the percentage of people involved is small
adult_drink_df = raw_df.loc[(raw_df.QuestionID == 'DRNKANY5') & (raw_df.RESPONSEID == 'RESP046')]
filtered_df = filtered_df.append(adult_drink_df)
len(filtered_df)

4757

### Health Status Indicators -- Indirect Measures

For these measures, we need to filter the raw information, but it may be necessary to collect more than
one question / response item to develop the indicator (for diabetes, for instance, we need the total prevalence,
minus pregnancy-related prevalence, plus borderline diabetes, thus we need to keep three question / responses)
For now, we'll keep all the raw data, and then, after pivoting the dataframe, we'll compute derived info.

In [12]:
#6)  How do you rate your general health / portion answering "good", "very good", or "excellent"
# QuestionID = _RFHLTH, RESPONSEID = RESP061
good_health_df = raw_df.loc[(raw_df.QuestionID == '_RFHLTH') & (raw_df.RESPONSEID == 'RESP061')]
filtered_df = filtered_df.append(good_health_df)
len(filtered_df)

5828

In [13]:
#7) Been told you have high blood pressure / yes, QuestionID = _RFHYPE5, RESPONSEID = RESP046
high_bp_df = raw_df.loc[(raw_df.QuestionID == '_RFHYPE5') & (raw_df.RESPONSEID == 'RESP046')]
filtered_df = filtered_df.append(high_bp_df)
len(filtered_df)

6437

In [14]:
#8) Been tested and told cholesterol is high / yes, QuestionID = _RFCHOL, RESPONSEID = RESP046
# The target value will be the fraction of people who have been tested who have high cholesterol
# This question gives us the numerator, #3 will provide the denominator
high_chol_df = raw_df.loc[(raw_df.QuestionID == '_RFCHOL') & (raw_df.RESPONSEID == 'RESP046')]
filtered_df = filtered_df.append(high_chol_df)
len(filtered_df)

6910

In [15]:
#9a) BMI falls into category 'obese', QuestionID = _BMI5CAT, RESPONSSEID = RESP040
# This will be combined with the 'overweight' category to provide a single indicator
obese_df = raw_df.loc[(raw_df.QuestionID == '_BMI5CAT') & (raw_df.RESPONSEID == 'RESP040')]
filtered_df = filtered_df.append(obese_df)
len(filtered_df)

7981

In [16]:
#9b) BMI falls into category 'overweight', QuestionID = _BMI5CAT, RESPONSSEID = RESP039
# Will be combined with 'obese' (already gathered)
overwt_df = raw_df.loc[(raw_df.QuestionID == '_BMI5CAT') & (raw_df.RESPONSEID == 'RESP039')]
filtered_df = filtered_df.append(overwt_df)
len(filtered_df)

9052

In [17]:
#10) Been told you have diabetes / yes, QuestionID = DIABETE3, RESPONSEID = RESP046
# This is the base rate, it includes pregnancy-related cases but these are a small fraction
diabetes_base_df = raw_df.loc[(raw_df.QuestionID == 'DIABETE3') & (raw_df.RESPONSEID == 'RESP046')]
filtered_df = filtered_df.append(diabetes_base_df)
len(filtered_df)

10123

### Clean Filtered Dataframe

Before we pivot the dataframe for time-series analysis, we need to make it more manageable by removing all the columns we no longer need (which is almost all of them).  In some cases, we will make smaller auxiliary tables (database-style).  The overall data to be retained is:
Directly retained:
* Year
* Question ID
* Response ID
* Location #
* Value (%)
* Upper Confidence Limit (%)
* Lower Confidence Limit (%)
* Sample Size

Retained in Auxiliary Tables
* Location geo coordinates and name vs. ID
* Question text vs question ID
* Response text vs response ID

In [18]:
# First, build the auxiliary tables:
#1) Location data
location_table = filtered_df[['Locationabbr','Locationdesc','GeoLocation']].groupby('Locationabbr').first().reset_index()
location_table.head()

,Locationabbr,Locationdesc,GeoLocation
0,10020,"Abbeville, LA Micropolitan Statistical Area","(29.7868663, -92.290084)"
1,10100,"Aberdeen, SD Micropolitan Statistical Area","(45.5222131, -98.7041456)"
2,10380,"Aguadilla-Isabela, PR Metropolitan Statistical...","(20.795, -67.847)"
3,10420,"Akron, OH Metropolitan Statistical Area","(41.1466315, -81.3501066)"
4,10580,"Albany-Schenectady-Troy, NY Metropolitan Stati...","(42.65244, -73.76085)"

In [19]:
# Add a simplified description that strips out
location_table['Simpledesc'] = location_table['Locationdesc']\
    .apply(lambda x : x.replace('Metropolitan Statistical Area','')\
                        .replace('Micropolitan Statistical Area','')\
                        .replace('Metropolitan Division', ''))
location_table.head()

,Locationabbr,Locationdesc,GeoLocation,Simpledesc
0,10020,"Abbeville, LA Micropolitan Statistical Area","(29.7868663, -92.290084)","Abbeville, LA"
1,10100,"Aberdeen, SD Micropolitan Statistical Area","(45.5222131, -98.7041456)","Aberdeen, SD"
2,10380,"Aguadilla-Isabela, PR Metropolitan Statistical...","(20.795, -67.847)","Aguadilla-Isabela, PR"
3,10420,"Akron, OH Metropolitan Statistical Area","(41.1466315, -81.3501066)","Akron, OH"
4,10580,"Albany-Schenectady-Troy, NY Metropolitan Stati...","(42.65244, -73.76085)","Albany-Schenectady-Troy, NY"

In [20]:
# Save to local directory
location_table.to_csv('location_data.csv')
# Check how many areas we have
len(location_table)

259

In [21]:
#2) Question ID and question text table
question_table = filtered_df[['QuestionID','Question']].groupby('QuestionID').first().reset_index()
#We need to add two custom questions
custom_question_table = pd.DataFrame({'QuestionID':['Custom_8','Custom_9'],
                                    'Question':['Adults with high blood cholesterol among those checked',
                                               'Weight classification by Body Mass Index (BMI), custom']})
question_table =  question_table.append(custom_question_table,ignore_index=True)
question_table

   QuestionID                                           Question
0    BLOODCHO  Adults who have ever had their blood cholester...
1    DIABETE3  Have you ever been told by a doctor that you h...
2    DRNKANY5  Adults who have had at least one drink of alco...
3    _BMI5CAT  Weight classification by Body Mass Index (BMI)...
4    _HCVU651  Adults aged 18-64 who have any kind of health ...
5     _RFCHOL  Adults who have had their blood cholesterol ch...
6     _RFHLTH  Health Status (variable calculated from one or...
7    _RFHYPE5  Adults who have been told they have high blood...
8    _RFSMOK3  Adults who are current smokers (variable calcu...
9    _TOTINDA  During the past month, did you participate in ...
10   Custom_8  Adults with high blood cholesterol among those...
11   Custom_9  Weight classification by Body Mass Index (BMI)...

In [22]:
# Save and check length -- there should be 10 questions
question_table.to_csv('question_data.csv')
len(question_table)

12

In [23]:
#3) Response table -- there should only be 7 of these
response_table = filtered_df[['RESPONSEID','Response']].groupby('RESPONSEID').first().reset_index()
# Add custom responses we will make later
custom_response_table = pd.DataFrame({'RESPONSEID':['Custom_8','Custom_9'],
                                      'Response':['High chol / chedked','Overwiehgt or Obese']})
response_table = response_table.append(custom_response_table,ignore_index=True)
response_table

  RESPONSEID                    Response
0    RESP039     Obese (BMI 30.0 - 99.8)
1    RESP040  Overweight (BMI 25.0-29.9)
2    RESP046                         Yes
3    RESP061       Good or Better Health
4   Custom_8         High chol / chedked
5   Custom_9         Overwiehgt or Obese

In [24]:
# Save table
response_table.to_csv('response_data.csv')

In [25]:
# Now make the main table 
compact_df = filtered_df[['Year','Locationabbr',
                          'QuestionID','RESPONSEID',
                          'Data_value','Confidence_limit_Low',
                          'Confidence_limit_High','Sample_Size']]
print(len(compact_df))
compact_df.head()

10123

,Year,Locationabbr,QuestionID,RESPONSEID,Data_value,Confidence_limit_Low,Confidence_limit_High,Sample_Size
9,2011,10020,_HCVU651,RESP046,80.58,73.39,87.77,270
93,2011,10100,_HCVU651,RESP046,85.05,78.27,91.83,299
175,2011,10420,_HCVU651,RESP046,86.64,81.99,91.29,457
260,2011,10740,_HCVU651,RESP046,78.25,75.92,80.58,1898
343,2011,10900,_HCVU651,RESP046,84.90,81.04,88.76,708

In [26]:
# We'll save this table as well, but at this point it will just be in case we want to make a database
compact_df.to_csv('db_style_filtered_data_table.csv')

### Provide Combined Measures

* For cholesterol, we need to normalize to the number of people measured
* For weight, we need to add overweight and obese fractions
* For diabetes, we need to subtract out pregnancy-related diabetes and add in borderline cases

(see notes on each one for statistical implications and notes)

In [27]:
# Normalizing cholesterol will introduce bias because the incidence of high cholesterol among those
# not measured is likely to be different than among those measured.  For this dataset, we will assume
# that this effect is practically constant over time and location.  

# First, select and merge the cholesterol-related data
cholchk_df = compact_df.loc[compact_df.QuestionID == 'BLOODCHO']
rfchol_df = compact_df.loc[compact_df.QuestionID == '_RFCHOL']
high_chol_df = cholchk_df.merge(rfchol_df, on=['Year','Locationabbr'], how='outer')
high_chol_df.head()

,Year,Locationabbr,QuestionID_x,RESPONSEID_x,Data_value_x,Confidence_limit_Low_x,Confidence_limit_High_x,Sample_Size_x,QuestionID_y,RESPONSEID_y,Data_value_y,Confidence_limit_Low_y,Confidence_limit_High_y,Sample_Size_y
0,2011,10020,BLOODCHO,RESP046,75.37,66.49,84.25,452,_RFCHOL,RESP046,35.20,28.87,41.53,189
1,2011,10100,BLOODCHO,RESP046,76.26,69.01,83.51,474,_RFCHOL,RESP046,44.25,36.29,52.21,216
2,2011,10420,BLOODCHO,RESP046,80.34,75.34,85.34,676,_RFCHOL,RESP046,38.00,32.81,43.19,277
3,2011,10740,BLOODCHO,RESP046,75.93,73.73,78.13,2696,_RFCHOL,RESP046,33.87,31.52,36.22,1021
4,2011,10900,BLOODCHO,RESP046,81.19,77.25,85.13,990,_RFCHOL,RESP046,32.93,28.64,37.22,412

In [28]:
# Now, compute new data_value, confidence_limits, and sample_size
# Note that we have no cases where only one of the two measures is available 
# Please see the design doc for more details on how this is done and the resultant limitations
high_chol_df['Data_value'] = high_chol_df['Data_value_y'] / high_chol_df['Data_value_x'] * 100.0
high_chol_df['Data_var'] = ( (high_chol_df['Confidence_limit_High_x'] - high_chol_df['Confidence_limit_Low_x']) *\
                           (high_chol_df['Confidence_limit_High_x'] - high_chol_df['Confidence_limit_Low_x']) /\
                           high_chol_df['Data_value_x'] / high_chol_df['Data_value_x'] +\
                           (high_chol_df['Confidence_limit_High_y'] - high_chol_df['Confidence_limit_Low_y']) *\
                           (high_chol_df['Confidence_limit_High_y'] - high_chol_df['Confidence_limit_Low_y']) /\
                           high_chol_df['Data_value_y'] / high_chol_df['Data_value_y'] ) *\
                           (high_chol_df['Data_value'] * high_chol_df['Data_value'] / 4.0)
high_chol_df['Data_err'] = high_chol_df['Data_var'].apply(np.sqrt)
high_chol_df['Confidence_limit_High_tmp'] = high_chol_df['Data_value'] + high_chol_df['Data_err']
high_chol_df['Confidence_limit_High'] = high_chol_df['Confidence_limit_High_tmp'].apply(lambda x: x if x < 100.0 else 100.0)
high_chol_df['Confidence_limit_Low_tmp'] = high_chol_df['Data_value'] - high_chol_df['Data_err']
high_chol_df['Confidence_limit_Low'] = high_chol_df['Confidence_limit_Low_tmp'].apply(lambda x: x if x > 0.0 else 0.0)   
high_chol_df['Sample_Size'] = high_chol_df['Sample_Size_y']
# Fill in the QuestionID and RESPONSEID with custom indicators
high_chol_df['QuestionID'] = 'Custom_8'
high_chol_df['RESPONSEID'] = 'Custom_8'
high_chol_df.head()

,Year,Locationabbr,QuestionID_x,RESPONSEID_x,Data_value_x,Confidence_limit_Low_x,Confidence_limit_High_x,Sample_Size_x,QuestionID_y,RESPONSEID_y,...,Data_value,Data_var,Data_err,Confidence_limit_High_tmp,Confidence_limit_High,Confidence_limit_Low_tmp,Confidence_limit_Low,Sample_Size,QuestionID,RESPONSEID
0,2011,10020,BLOODCHO,RESP046,75.37,66.49,84.25,452,_RFCHOL,RESP046,...,46.702932,100.813233,10.040579,56.743511,56.743511,36.662353,36.662353,189,Custom_8,Custom_8
1,2011,10100,BLOODCHO,RESP046,76.26,69.01,83.51,474,_RFCHOL,RESP046,...,58.025177,139.382269,11.806027,69.831204,69.831204,46.219150,46.219150,216,Custom_8,Custom_8
2,2011,10420,BLOODCHO,RESP046,80.34,75.34,85.34,676,_RFCHOL,RESP046,...,47.298979,50.397405,7.099113,54.398092,54.398092,40.199866,40.199866,277,Custom_8,Custom_8
3,2011,10740,BLOODCHO,RESP046,75.93,73.73,78.13,2696,_RFCHOL,RESP046,...,44.606875,11.249158,3.353976,47.960851,47.960851,41.252898,41.252898,1021,Custom_8,Custom_8
4,2011,10900,BLOODCHO,RESP046,81.19,77.25,85.13,990,_RFCHOL,RESP046,...,40.559182,31.793675,5.638588,46.197770,46.197770,34.920594,34.920594,412,Custom_8,Custom_8

In [29]:
# Now clean up the DataFrame
high_chol_df = high_chol_df.drop(columns = ['QuestionID_x', 'RESPONSEID_x', 'Data_value_x',
                           'Confidence_limit_Low_x','Confidence_limit_High_x','Sample_Size_x',
                           'QuestionID_y', 'RESPONSEID_y', 'Data_value_y',
                           'Confidence_limit_Low_y','Confidence_limit_High_y','Sample_Size_y',
                            'Data_var','Data_err','Confidence_limit_Low_tmp','Confidence_limit_High_tmp'])
high_chol_df.head()

,Year,Locationabbr,Data_value,Confidence_limit_High,Confidence_limit_Low,Sample_Size,QuestionID,RESPONSEID
0,2011,10020,46.702932,56.743511,36.662353,189,Custom_8,Custom_8
1,2011,10100,58.025177,69.831204,46.219150,216,Custom_8,Custom_8
2,2011,10420,47.298979,54.398092,40.199866,277,Custom_8,Custom_8
3,2011,10740,44.606875,47.960851,41.252898,1021,Custom_8,Custom_8
4,2011,10900,40.559182,46.197770,34.920594,412,Custom_8,Custom_8

In [30]:
# Now add the new derived data to the table, and remove the old data
compact_df = compact_df.append(high_chol_df, sort = False)
compact_df = compact_df.drop(compact_df[compact_df['QuestionID'] == 'BLOOCCHO'].index)
compact_df = compact_df.drop(compact_df[compact_df['QuestionID'] == '_RFCHOL'].index)
len(compact_df)

10117

In [31]:
# For obesity, we need to add the overweight and obese categories into a single category

# First, select and merge the cholesterol-related data
is_overweight_df = compact_df.loc[compact_df.RESPONSEID == 'RESP039']
is_obese_df = compact_df.loc[compact_df.RESPONSEID == 'RESP040']
above_normwt_df = is_overweight_df.merge(is_obese_df, on=['Year','Locationabbr'], how='outer')
above_normwt_df.head()

,Year,Locationabbr,QuestionID_x,RESPONSEID_x,Data_value_x,Confidence_limit_Low_x,Confidence_limit_High_x,Sample_Size_x,QuestionID_y,RESPONSEID_y,Data_value_y,Confidence_limit_Low_y,Confidence_limit_High_y,Sample_Size_y
0,2011,10020,_BMI5CAT,RESP039,28.29,21.72,34.86,154,_BMI5CAT,RESP040,31.23,24.43,38.03,173
1,2011,10100,_BMI5CAT,RESP039,30.08,22.98,37.18,143,_BMI5CAT,RESP040,31.96,25.30,38.62,200
2,2011,10420,_BMI5CAT,RESP039,28.85,23.89,33.81,193,_BMI5CAT,RESP040,33.24,28.48,38.00,274
3,2011,10740,_BMI5CAT,RESP039,24.76,22.72,26.80,750,_BMI5CAT,RESP040,34.97,32.77,37.17,1137
4,2011,10900,_BMI5CAT,RESP039,29.55,25.14,33.96,295,_BMI5CAT,RESP040,36.77,32.36,41.18,408

In [32]:
# Now, compute new data_value, confidence_limits, and sample_size
# Note that we have no cases where only one of the two measures is available 
# Please see the design doc for more details on how this is done and the resultant limitations
above_normwt_df['Data_value'] = above_normwt_df['Data_value_y'] + above_normwt_df['Data_value_x']
above_normwt_df['Data_var'] = ( (above_normwt_df['Confidence_limit_High_x'] - above_normwt_df['Confidence_limit_Low_x']) *\
                           (above_normwt_df['Confidence_limit_High_x'] - above_normwt_df['Confidence_limit_Low_x']) +\
                           (above_normwt_df['Confidence_limit_High_y'] - above_normwt_df['Confidence_limit_Low_y']) *\
                           (above_normwt_df['Confidence_limit_High_y'] - above_normwt_df['Confidence_limit_Low_y']) / 4.0)
above_normwt_df['Data_err'] = above_normwt_df['Data_var'].apply(np.sqrt)
above_normwt_df['Confidence_limit_High_tmp'] = above_normwt_df['Data_value'] + above_normwt_df['Data_err']
above_normwt_df['Confidence_limit_High'] = above_normwt_df['Confidence_limit_High_tmp'].apply(lambda x: x if x < 100.0 else 100.0)
above_normwt_df['Confidence_limit_Low_tmp'] = above_normwt_df['Data_value'] - above_normwt_df['Data_err']
above_normwt_df['Confidence_limit_Low'] = above_normwt_df['Confidence_limit_Low_tmp'].apply(lambda x: x if x > 0.0 else 0.0)   
above_normwt_df['Sample_Size'] = above_normwt_df['Sample_Size_y'] + above_normwt_df['Sample_Size_x']
# Fill in the QuestionID and RESPONSEID with custom indicators
above_normwt_df['QuestionID'] = 'Custom_9'
above_normwt_df['RESPONSEID'] = 'Custom_9'
above_normwt_df.head()

,Year,Locationabbr,QuestionID_x,RESPONSEID_x,Data_value_x,Confidence_limit_Low_x,Confidence_limit_High_x,Sample_Size_x,QuestionID_y,RESPONSEID_y,...,Data_value,Data_var,Data_err,Confidence_limit_High_tmp,Confidence_limit_High,Confidence_limit_Low_tmp,Confidence_limit_Low,Sample_Size,QuestionID,RESPONSEID
0,2011,10020,_BMI5CAT,RESP039,28.29,21.72,34.86,154,_BMI5CAT,RESP040,...,59.52,218.8996,14.795256,74.315256,74.315256,44.724744,44.724744,327,Custom_9,Custom_9
1,2011,10100,_BMI5CAT,RESP039,30.08,22.98,37.18,143,_BMI5CAT,RESP040,...,62.04,245.9956,15.684247,77.724247,77.724247,46.355753,46.355753,343,Custom_9,Custom_9
2,2011,10420,_BMI5CAT,RESP039,28.85,23.89,33.81,193,_BMI5CAT,RESP040,...,62.09,121.0640,11.002909,73.092909,73.092909,51.087091,51.087091,467,Custom_9,Custom_9
3,2011,10740,_BMI5CAT,RESP039,24.76,22.72,26.80,750,_BMI5CAT,RESP040,...,59.73,21.4864,4.635342,64.365342,64.365342,55.094658,55.094658,1887,Custom_9,Custom_9
4,2011,10900,_BMI5CAT,RESP039,29.55,25.14,33.96,295,_BMI5CAT,RESP040,...,66.32,97.2405,9.861060,76.181060,76.181060,56.458940,56.458940,703,Custom_9,Custom_9

In [33]:
# Now clean up the DataFrame, and append / remove
above_normwt_df = above_normwt_df.drop(columns = ['QuestionID_x', 'RESPONSEID_x', 'Data_value_x',
                           'Confidence_limit_Low_x','Confidence_limit_High_x','Sample_Size_x',
                           'QuestionID_y', 'RESPONSEID_y', 'Data_value_y',
                           'Confidence_limit_Low_y','Confidence_limit_High_y','Sample_Size_y',
                            'Data_var','Data_err','Confidence_limit_Low_tmp','Confidence_limit_High_tmp'])
compact_df = compact_df.append(above_normwt_df, sort = False)
compact_df = compact_df.drop(compact_df[compact_df['QuestionID'] == '_BMI5CAT'].index)
len(compact_df)

9010

In [34]:
# Now save the database with the modified values
compact_df.to_csv('db_style_computed_compact_data_table.csv')

### Pivot Data Table for Time Series

In [35]:
# We want to pivot by year but only for the last four columns
timeseries_df = compact_df.pivot_table(index = ['Locationabbr','QuestionID','RESPONSEID'],
                                      columns = ['Year'], 
                                      values = ['Data_value','Confidence_limit_Low',
                                               'Confidence_limit_High','Sample_Size'])
timeseries_df.head()

                                   Confidence_limit_High                      \
Year                                                2011 2012 2013 2014 2015
Locationabbr QuestionID RESPONSEID
10020        BLOODCHO   RESP046                84.250000  NaN  NaN  NaN  NaN
             Custom_8   Custom_8               56.743511  NaN  NaN  NaN  NaN
             Custom_9   Custom_9               74.315256  NaN  NaN  NaN  NaN
             DIABETE3   RESP046                14.430000  NaN  NaN  NaN  NaN
             DRNKANY5   RESP046                63.450000  NaN  NaN  NaN  NaN

                                             Confidence_limit_Low            \
Year                               2016 2017                 2011 2012 2013
Locationabbr QuestionID RESPONSEID
10020        BLOODCHO   RESP046     NaN  NaN            66.490000  NaN  NaN
             Custom_8   Custom_8    NaN  NaN            36.662353  NaN  NaN
             Custom_9   Custom_9    NaN  NaN            44.724744  NaN  NaN
             DIABETE3   RESP046     NaN  NaN             7.770000  NaN  NaN
             DRNKANY5   RESP046     NaN  NaN            46.790000  NaN  NaN

                                    ... Data_value           Sample_Size       \
Year                                ...       2015 2016 2017        2011 2012
Locationabbr QuestionID RESPONSEID  ...
10020        BLOODCHO   RESP046     ...        NaN  NaN  NaN       452.0  NaN
             Custom_8   Custom_8    ...        NaN  NaN  NaN       189.0  NaN
             Custom_9   Custom_9    ...        NaN  NaN  NaN       327.0  NaN
             DIABETE3   RESP046     ...        NaN  NaN  NaN        83.0  NaN
             DRNKANY5   RESP046     ...        NaN  NaN  NaN       248.0  NaN


Year                               2013 2014 2015 2016 2017
Locationabbr QuestionID RESPONSEID
10020        BLOODCHO   RESP046     NaN  NaN  NaN  NaN  NaN
             Custom_8   Custom_8    NaN  NaN  NaN  NaN  NaN
             Custom_9   Custom_9    NaN  NaN  NaN  NaN  NaN
             DIABETE3   RESP046     NaN  NaN  NaN  NaN  NaN
             DRNKANY5   RESP046     NaN  NaN  NaN  NaN  NaN

[5 rows x 28 columns]

In [36]:
# Reduce the multi-index (row)
timeseries_df = timeseries_df.reset_index()
timeseries_df.head()

     Locationabbr QuestionID RESPONSEID Confidence_limit_High                 \
Year                                                     2011 2012 2013 2014
0           10020   BLOODCHO    RESP046             84.250000  NaN  NaN  NaN
1           10020   Custom_8   Custom_8             56.743511  NaN  NaN  NaN
2           10020   Custom_9   Custom_9             74.315256  NaN  NaN  NaN
3           10020   DIABETE3    RESP046             14.430000  NaN  NaN  NaN
4           10020   DRNKANY5    RESP046             63.450000  NaN  NaN  NaN

                     ... Data_value           Sample_Size                      \
Year 2015 2016 2017  ...       2015 2016 2017        2011 2012 2013 2014 2015
0     NaN  NaN  NaN  ...        NaN  NaN  NaN       452.0  NaN  NaN  NaN  NaN
1     NaN  NaN  NaN  ...        NaN  NaN  NaN       189.0  NaN  NaN  NaN  NaN
2     NaN  NaN  NaN  ...        NaN  NaN  NaN       327.0  NaN  NaN  NaN  NaN
3     NaN  NaN  NaN  ...        NaN  NaN  NaN        83.0  NaN  NaN  NaN  NaN
4     NaN  NaN  NaN  ...        NaN  NaN  NaN       248.0  NaN  NaN  NaN  NaN


Year 2016 2017
0     NaN  NaN
1     NaN  NaN
2     NaN  NaN
3     NaN  NaN
4     NaN  NaN

[5 rows x 31 columns]

In [37]:
# Conver the column multi-index to single index
timeseries_df.columns = timeseries_df.columns.to_flat_index()
timeseries_df.head()

,"(Locationabbr, )","(QuestionID, )","(RESPONSEID, )","(Confidence_limit_High, 2011)","(Confidence_limit_High, 2012)","(Confidence_limit_High, 2013)","(Confidence_limit_High, 2014)","(Confidence_limit_High, 2015)","(Confidence_limit_High, 2016)","(Confidence_limit_High, 2017)",...,"(Data_value, 2015)","(Data_value, 2016)","(Data_value, 2017)","(Sample_Size, 2011)","(Sample_Size, 2012)","(Sample_Size, 2013)","(Sample_Size, 2014)","(Sample_Size, 2015)","(Sample_Size, 2016)","(Sample_Size, 2017)"
0,10020,BLOODCHO,RESP046,84.250000,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,452.0,NaN,NaN,NaN,NaN,NaN,NaN
1,10020,Custom_8,Custom_8,56.743511,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,189.0,NaN,NaN,NaN,NaN,NaN,NaN
2,10020,Custom_9,Custom_9,74.315256,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,327.0,NaN,NaN,NaN,NaN,NaN,NaN
3,10020,DIABETE3,RESP046,14.430000,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,83.0,NaN,NaN,NaN,NaN,NaN,NaN
4,10020,DRNKANY5,RESP046,63.450000,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,248.0,NaN,NaN,NaN,NaN,NaN,NaN

In [38]:
# Clean up the column names by reducing tuples to words and joining with '_' except if trailing
columns_to_trim = list(timeseries_df)
new_column_names = [str(column_name[0]) + '_' + str(column_name[1]) for column_name in columns_to_trim]
timeseries_df.columns = [new_name.rstrip('_') for new_name in new_column_names]
timeseries_df.head()

,Locationabbr,QuestionID,RESPONSEID,Confidence_limit_High_2011,Confidence_limit_High_2012,Confidence_limit_High_2013,Confidence_limit_High_2014,Confidence_limit_High_2015,Confidence_limit_High_2016,Confidence_limit_High_2017,...,Data_value_2015,Data_value_2016,Data_value_2017,Sample_Size_2011,Sample_Size_2012,Sample_Size_2013,Sample_Size_2014,Sample_Size_2015,Sample_Size_2016,Sample_Size_2017
0,10020,BLOODCHO,RESP046,84.250000,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,452.0,NaN,NaN,NaN,NaN,NaN,NaN
1,10020,Custom_8,Custom_8,56.743511,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,189.0,NaN,NaN,NaN,NaN,NaN,NaN
2,10020,Custom_9,Custom_9,74.315256,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,327.0,NaN,NaN,NaN,NaN,NaN,NaN
3,10020,DIABETE3,RESP046,14.430000,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,83.0,NaN,NaN,NaN,NaN,NaN,NaN
4,10020,DRNKANY5,RESP046,63.450000,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,248.0,NaN,NaN,NaN,NaN,NaN,NaN

In [39]:
# Check length -- should be about 2,500
len(timeseries_df)

2508

In [40]:
# Get breakdown by question -- should be about 250 each
timeseries_df.QuestionID.value_counts()

_HCVU651    259
_RFSMOK3    259
DIABETE3    259
_RFHLTH     259
_TOTINDA    259
DRNKANY5    259
Custom_9    258
_RFHYPE5    234
BLOODCHO    233
Custom_8    229
Name: QuestionID, dtype: int64

In [41]:
# Now save this table ... it is big but manageable compared to the 120k table
timeseries_df.to_csv('BRFSS_timeseries_no_stats.csv')

## Statistical Analysis

In this part, we are going to add some pre-calculated statistics to the dataframe.  This way, the Javascript routine will only have to worry about plotting the data.  This is efficient because we 
only need to do these calculations once, and there are a small enough number of examples that it will be quick to do.

###  ANOVA Test for Change

Because of the adjusted nature of the data, we have only summary statistics.  So we get to do the ANOVAA manually, using the assumption that the sample sizes are large enough to justify the converge of the binomial and normal distributions.

In [42]:
def compute_st_dev_est(mean = 0.5, c95 = 0.5):
    """Compute estimated standard deviation given a p (arg1) and 95% confidence interval (arg2).
    Assumes that the value of n is large enough to justify using a normal distribution"""
    if np.isnan(mean) or np.isnan(c95):
        return np.nan
    else:
        Z95 = stats.norm.ppf(0.975)
        return (np.abs(mean - c95) / Z95)

In [43]:
def compute_n_est(p = 0.5, cl = 0.5):
    """compute equivalent n given a p (arg1) and 95% confidence limit (arg2, can be upper or lower)
    Assumes that p is probability of a binary outcome, in % (0 to 100)  Returns the value of n which
    would result in the same mean and confidence interval if the normal distribution
    approximation to the binomial distribution was true (effectively, large n).
    Calls a function compute_std_est."""
    if np.isnan(p) or np.isnan(cl):
        return np.nan
    else:
        st_dev_est = compute_st_dev_est(p, cl)
        if st_dev_est == 0.0:
            return np.nan
        else:
            return ( p * (100.0 - p ) / st_dev_est / st_dev_est)

In [44]:
def anova_from_mean_95cl(p_list = [], cl_list = []):
    """compute anova p-value for a 1-D numpy nd-array of means (arg1) and corresponding confidence limits
    (arg2), can be either upper or lower limit.  Assumes data are from binary outcome tests,
    with an equivalent n value large enough to justify normality of binomial distribution.
    Calls two functions, compute_n_est, and compute_st_dev_est"""
    # Coerce type to np.ndarray via list 
    p_list = np.array(list(p_list))
    cl_list = np.array(list(cl_list))
    # Proceed only if the lists are the same length and > 1 item long
    if len(p_list) != len(cl_list):
        return np.nan
    else:
        # Remove values if there is a NaN in either array
        p_nan = np.isnan(p_list)
        cl_nan = np.isnan(cl_list)
        p_list = p_list[(~p_nan)&(~cl_nan)]
        cl_list = cl_list[(~p_nan)&(~cl_nan)]
        if len(p_list) < 2:
            return np.nan
        else:
            # Compute the equivalent 'n' and 'variance' values for each entry
            n_list = [compute_n_est(mean, clim) for mean, clim in zip(p_list, cl_list)]
            var_list = [compute_st_dev_est(mean, clim) ** 2 for mean, clim in zip(p_list, cl_list)]
            # Compute the degrees of freedom
            df_between = len(p_list) - 1
            df_within = np.sum(n_list) - len(n_list)
            # Compute key mean and sum of squares values
            grand_mean = np.mean(p_list)
            ss_mean = np.var(p_list,ddof=1)
            ss_between = ss_mean * np.mean(n_list)
            ss_within = np.sum(var_list) / len(var_list)
            f_stat = ss_between / ss_within
            return 1 - stats.f.cdf(f_stat, df_between, df_within)

In [45]:
# Now we will add 2 columns to the dataframe.  
# The first will make a 2-item list where item #1 is a list of means and item #2 is 
# a list of the lower 95% confidence limit.  We use the lower limit because it has virtually
# no cases where it was clipped (the upper limit appears to have a few such cases)
means_and_cls = [ [[a, b, c, d, e, f, g], [h, i, j, k, l, m, n]] for \
                                a, b, c, d, e, f, g, h, i, j, k, l, m, n in\
                                zip(timeseries_df.Data_value_2011,
                                       timeseries_df.Data_value_2012,
                                       timeseries_df.Data_value_2013,
                                       timeseries_df.Data_value_2014,
                                       timeseries_df.Data_value_2015,
                                       timeseries_df.Data_value_2016,
                                       timeseries_df.Data_value_2017, 
                                       timeseries_df.Confidence_limit_Low_2011,
                                       timeseries_df.Confidence_limit_Low_2012,
                                       timeseries_df.Confidence_limit_Low_2013,
                                       timeseries_df.Confidence_limit_Low_2014,
                                       timeseries_df.Confidence_limit_Low_2015,
                                       timeseries_df.Confidence_limit_Low_2016,
                                       timeseries_df.Confidence_limit_Low_2017)]
# Now put this list into a dataframe column
timeseries_df['mean_and_cl'] = means_and_cls
# Next we will use this column with the anova_from_mean_95cl function
timeseries_df['anova_p'] = timeseries_df.mean_and_cl.apply(lambda x : anova_from_mean_95cl(x[0],x[1]))
# Fill NaN values with 1.0 in 'anova_p'
timeseries_df['anova_p'] = timeseries_df['anova_p'].fillna(1.0)
timeseries_df.head()

,Locationabbr,QuestionID,RESPONSEID,Confidence_limit_High_2011,Confidence_limit_High_2012,Confidence_limit_High_2013,Confidence_limit_High_2014,Confidence_limit_High_2015,Confidence_limit_High_2016,Confidence_limit_High_2017,...,Data_value_2017,Sample_Size_2011,Sample_Size_2012,Sample_Size_2013,Sample_Size_2014,Sample_Size_2015,Sample_Size_2016,Sample_Size_2017,mean_and_cl,anova_p
0,10020,BLOODCHO,RESP046,84.250000,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,452.0,NaN,NaN,NaN,NaN,NaN,NaN,"[[75.37, nan, nan, nan, nan, nan, nan], [66.49...",1.0
1,10020,Custom_8,Custom_8,56.743511,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,189.0,NaN,NaN,NaN,NaN,NaN,NaN,"[[46.70293220114104, nan, nan, nan, nan, nan, ...",1.0
2,10020,Custom_9,Custom_9,74.315256,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,327.0,NaN,NaN,NaN,NaN,NaN,NaN,"[[59.519999999999996, nan, nan, nan, nan, nan,...",1.0
3,10020,DIABETE3,RESP046,14.430000,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,83.0,NaN,NaN,NaN,NaN,NaN,NaN,"[[11.1, nan, nan, nan, nan, nan, nan], [7.77, ...",1.0
4,10020,DRNKANY5,RESP046,63.450000,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,248.0,NaN,NaN,NaN,NaN,NaN,NaN,"[[55.12, nan, nan, nan, nan, nan, nan], [46.79...",1.0

### Create Model Best Fit Parameters

To classify trends, linear and quadratic models will be compared.

In [46]:
def get_trend_params(x = [], y = [], cl = [], alpha = 1.0, signif = 0.05):
    """Generate up to a 2nd-order polynomial fit based on statistical significance criteria.
    Expects a list of x-values, y-values, and confidence limit (either upper or lower, 95%)
    values (args 1, 2, and 3).  If alpha (arg4) < signif (arg5), uses constant model, else
    if the adjusted R^2 for a linear model is higher, uses linear model, else uses quadratic
    model (if n > 3).  Returns an array of nine items, items 0-2 are quadratic, linear, and constant 
    model coefficients.  Items 3-4 are x-values at start and end of valid data, items 5-6 are 
    y-estimates at start and end of data, items 7-8 are estimated slopes at start and end of data. 
    Returns NaN if zero useful points are found, or if lists are not the same length"""
    # Coerce type to column vector or list as appropriate for use with scikit-learn
    x_data = np.array(list(x))[:,np.newaxis]
    y_data = np.array(list(y))[:,np.newaxis]
    var_list = [compute_st_dev_est(mean, clim) ** 2 for mean, clim in zip(list(y), list(cl))]
    var_list = np.array(var_list)[:,np.newaxis]
    # Remove values if there is a NaN in any of the arrays
    x_nan = np.isnan(x_data)
    y_nan = np.isnan(y_data)
    var_nan = np.isnan(var_list)
    x_data = x_data[(~x_nan)&(~y_nan)&(~var_nan)].reshape(-1,1)
    y_data = y_data[(~x_nan)&(~y_nan)&(~var_nan)].reshape(-1,1)
    var_list = var_list[(~x_nan)&(~y_nan)&(~var_nan)]
    # Proceed only if the lists are the same length and > 0 items long
    if not (len(x_data) == len(y_data) == len(var_list)):
        return np.nan
    elif len(y_data) < 1:
        return np.nan
    # If ANOVA (or other test) shows no signicant trend, use mean-value constant as trend
    elif alpha > signif:
        x_min = x_data[0,0]
        x_max = x_data[-1,0]
        return [0,0,np.mean(y_data),x_min, x_max, np.mean(y_data),np.mean(y_data),0,0]
    elif len(y_data) == 1:
        return [0,0,np.mean(y_data), x_data[0,0], x_data[0,0], np.mean(y_data),np.mean(y_data),0,0]
    # Do only the weighted linear regression if there are just two or three data points
    elif len(y_data) < 4:
        x_min = x_data[0,0]
        x_max = x_data[-1,0]
        weighted_lin = LinReg().fit(x_data, y_data, var_list)
        coeff = weighted_lin.coef_[0,0]
        intrcpt = weighted_lin.intercept_[0]
        return [0, coeff, intrcpt, x_min, x_max, coeff * x_min + intrcpt, 
                coeff * x_max + intrcpt, coeff, coeff]
    else:
        x_min = x_data[0,0]
        x_max = x_data[-1,0]
        weighted_lin = LinReg().fit(x_data, y_data, var_list)
        lin_adj_score = 1.0 - (1 - weighted_lin.score(x_data, y_data, var_list)) * \
                                    ( len(x_data) - 1) / (len(x_data) - 2)
        lcoeff = weighted_lin.coef_[0,0]
        lintrcpt = weighted_lin.intercept_[0]
        x_squared_data = x_data * x_data
        x_for_quad = np.hstack((x_data, x_squared_data))
        weighted_quad = LinReg().fit(x_for_quad, y_data, var_list)
        qcoeff2 = weighted_quad.coef_[0,1]
        qcoeff1 = weighted_quad.coef_[0,0]
        qintrcpt = weighted_quad.intercept_[0]
        y_start = qcoeff2 * x_min * x_min + qcoeff1 * x_min + qintrcpt;
        y_end = qcoeff2 * x_max * x_max + qcoeff1 * x_max + qintrcpt;
        slope_start = 2 * qcoeff2 * x_min + qcoeff1
        slope_end = 2 * qcoeff2 * x_max + qcoeff1
        quad_adj_score = 1.0 - (1 - weighted_quad.score(x_for_quad, y_data, var_list)) * \
                                    ( len(x_data) - 1) / (len(x_data) - 3)
        # Report the 'winner' based on max adjusted score
        if (lin_adj_score > quad_adj_score):
            return [0, lcoeff, lintrcpt, x_min, x_max, lcoeff * x_min + lintrcpt, 
                lcoeff * x_max + lintrcpt, lcoeff, lcoeff]
        else:
            return [qcoeff2, qcoeff1, qintrcpt, x_min, x_max, y_start, y_end, slope_start, slope_end]

In [47]:
def assign_trend_type(question_id = ''):
    """Determine how a trend in health is related to a trend in a given question type.  If an increase in the
    variable of interest, such as physical activity (code _TOTINDA), indicates an increase in health, return 1,
    or if an increase is 'bad' for health, e.g. smoking (code _RFSMOK3), return -1.  Returns 0 for indicators not checked"""
    if question_id in ['_RFHLTH','_TOTINDA','_HCVU651','BLOODCHO']:
        return 1
    elif question_id in ['Custom_8', 'Custom_9', 'DRNKANY5', '_RFSMOK3', 'DIABETE3', '_RFHYPE5']:
        return -1
    else:
        return 0

In [48]:
def classify_trend(params = [], direction = 1):
    """Return classification of trend based on a single argument, params, which is a list of nine numbers
    generated by the funciton get_trend_params.  Multiply by 'direction' to retrieve the health outcome.  
    The classes are:  00:constant, 0+: increasing linearly,  0-: decreasing linearly, ++: accelerating upward, 
    -+: leveling off, upward,  --: accelerating downward, +-: leveling off, downward (no acceleration => leveling off)"""
    if type(params) != list:
        return np.nan
    else:
        outcome_diff = (params[6] - params[5]) * direction
        slope_effect = abs(params[8]) - abs(params[7])
        x1_coeff = params[1] * direction
        if params[0] == 0:
            if x1_coeff == 0:
                return '00'
            elif x1_coeff > 0:
                return '0+'
            else:
                return '0-'
        elif outcome_diff > 0:
            if slope_effect > 0:
                return '++'
            else:
                return '+-'
        else:
            if slope_effect > 0:
                return '--'
            else:
                return '-+'

In [49]:
# Rum the parameter generation and classification methods on data, then add to dataframe
years_list = [2011, 2012, 2013, 2014, 2015, 2016, 2017]
params_list = [get_trend_params(years_list, m_cl[0], m_cl[1], a, 0.05) for \
                m_cl, a in zip(timeseries_df.mean_and_cl, timeseries_df.anova_p)]
timeseries_df['param_list'] = params_list
# For classification, first determine whether an increase is 'good' or 'bad' for health
# based on trend type
trend_type_list = [assign_trend_type(question) for question in timeseries_df['QuestionID'].values]
# Then classify based on both the trend parameters and the type
trend_list = [classify_trend(params, trend_type) for params, trend_type in zip(params_list, trend_type_list)]
timeseries_df['trend_class'] = trend_list
timeseries_df.head()

,Locationabbr,QuestionID,RESPONSEID,Confidence_limit_High_2011,Confidence_limit_High_2012,Confidence_limit_High_2013,Confidence_limit_High_2014,Confidence_limit_High_2015,Confidence_limit_High_2016,Confidence_limit_High_2017,...,Sample_Size_2012,Sample_Size_2013,Sample_Size_2014,Sample_Size_2015,Sample_Size_2016,Sample_Size_2017,mean_and_cl,anova_p,param_list,trend_class
0,10020,BLOODCHO,RESP046,84.250000,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,"[[75.37, nan, nan, nan, nan, nan, nan], [66.49...",1.0,"[0, 0, 75.37, 2011, 2011, 75.37, 75.37, 0, 0]",00
1,10020,Custom_8,Custom_8,56.743511,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,"[[46.70293220114104, nan, nan, nan, nan, nan, ...",1.0,"[0, 0, 46.70293220114104, 2011, 2011, 46.70293...",00
2,10020,Custom_9,Custom_9,74.315256,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,"[[59.519999999999996, nan, nan, nan, nan, nan,...",1.0,"[0, 0, 59.519999999999996, 2011, 2011, 59.5199...",00
3,10020,DIABETE3,RESP046,14.430000,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,"[[11.1, nan, nan, nan, nan, nan, nan], [7.77, ...",1.0,"[0, 0, 11.1, 2011, 2011, 11.1, 11.1, 0, 0]",00
4,10020,DRNKANY5,RESP046,63.450000,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,"[[55.12, nan, nan, nan, nan, nan, nan], [46.79...",1.0,"[0, 0, 55.12, 2011, 2011, 55.12, 55.12, 0, 0]",00

In [50]:
# Save the final table
timeseries_df.to_csv('BRFSS_with_stats.csv')

In [51]:
# For Javascript use, we need only a few columns
timeseries_for_js = timeseries_df[['Locationabbr', 'QuestionID','RESPONSEID',
                                   'mean_and_cl','param_list','trend_class']]
timeseries_for_js.head()

,Locationabbr,QuestionID,RESPONSEID,mean_and_cl,param_list,trend_class
0,10020,BLOODCHO,RESP046,"[[75.37, nan, nan, nan, nan, nan, nan], [66.49...","[0, 0, 75.37, 2011, 2011, 75.37, 75.37, 0, 0]",00
1,10020,Custom_8,Custom_8,"[[46.70293220114104, nan, nan, nan, nan, nan, ...","[0, 0, 46.70293220114104, 2011, 2011, 46.70293...",00
2,10020,Custom_9,Custom_9,"[[59.519999999999996, nan, nan, nan, nan, nan,...","[0, 0, 59.519999999999996, 2011, 2011, 59.5199...",00
3,10020,DIABETE3,RESP046,"[[11.1, nan, nan, nan, nan, nan, nan], [7.77, ...","[0, 0, 11.1, 2011, 2011, 11.1, 11.1, 0, 0]",00
4,10020,DRNKANY5,RESP046,"[[55.12, nan, nan, nan, nan, nan, nan], [46.79...","[0, 0, 55.12, 2011, 2011, 55.12, 55.12, 0, 0]",00

In [52]:
# If rows have no time series data, param_list and trend_class will be 'NaN', drop these
print(f'{len(timeseries_for_js)} rows before drop')
timeseries_for_js = timeseries_for_js.dropna(subset=['param_list','trend_class'])
print(f'{len(timeseries_for_js)} rows after drop')

2508 rows before drop
2506 rows after drop

In [53]:
# Save this reduced file
timeseries_for_js.to_csv('BRFSS_2011_to_2017.csv')

### Generate Summary Statistics on Trends

In [54]:
# Use 'value_counts' to generate series for each of the 10 indicators (to be combined into new dataframe)
insurance_trends = timeseries_for_js[timeseries_for_js.QuestionID == '_HCVU651'].trend_class.value_counts()
insurance_trends

0+    110
00     61
+-     37
0-     32
++     16
--      3
Name: trend_class, dtype: int64

In [55]:
medchk_trends = timeseries_for_js[timeseries_for_js.QuestionID == 'BLOODCHO'].trend_class.value_counts()
medchk_trends

00    101
0+     97
0-     35
Name: trend_class, dtype: int64

In [56]:
alcohol_trends = timeseries_for_js[timeseries_for_js.QuestionID == 'DRNKANY5'].trend_class.value_counts()
alcohol_trends

0+    73
00    60
0-    47
+-    39
--    31
-+     5
++     4
Name: trend_class, dtype: int64

In [57]:
smoking_trends = timeseries_for_js[timeseries_for_js.QuestionID == '_RFSMOK3'].trend_class.value_counts()
smoking_trends

0+    115
00     66
+-     37
++     17
0-     15
-+      5
--      2
Name: trend_class, dtype: int64

In [58]:
exercise_trends = timeseries_for_js[timeseries_for_js.QuestionID == '_TOTINDA'].trend_class.value_counts()
exercise_trends

0-    78
0+    72
00    60
--    23
+-    14
-+     9
++     3
Name: trend_class, dtype: int64

In [59]:
hlthrate_trends = timeseries_for_js[timeseries_for_js.QuestionID == '_RFHLTH'].trend_class.value_counts()
hlthrate_trends

0-    79
0+    64
00    60
--    22
-+    14
+-    12
++     8
Name: trend_class, dtype: int64

In [60]:
hibp_trends = timeseries_for_js[timeseries_for_js.QuestionID == '_RFHYPE5'].trend_class.value_counts()
hibp_trends

00    86
0-    64
0+    35
-+    24
--    12
++     8
+-     5
Name: trend_class, dtype: int64

In [61]:
diabetes_trends = timeseries_for_js[timeseries_for_js.QuestionID == 'DIABETE3'].trend_class.value_counts()
diabetes_trends

0-    98
00    61
0+    48
-+    17
--    16
++    12
+-     7
Name: trend_class, dtype: int64

In [62]:
obesity_trends = timeseries_for_js[timeseries_for_js.QuestionID == 'Custom_9'].trend_class.value_counts()
obesity_trends

0-    87
00    83
0+    28
-+    23
--    22
+-     8
++     7
Name: trend_class, dtype: int64

In [63]:
hichol_trends = timeseries_for_js[timeseries_for_js.QuestionID == 'Custom_8'].trend_class.value_counts()
hichol_trends

00    100
0+     98
0-     31
Name: trend_class, dtype: int64

In [64]:
#Now make the dataframe
trends_df = pd.DataFrame({'insurance':insurance_trends,'med_check':medchk_trends,
                         'alcohol_use':alcohol_trends,'smoking':smoking_trends,
                         'exercise':exercise_trends,'general_health':hlthrate_trends,
                         'overweight':obesity_trends,'diabetes':diabetes_trends,
                          'high_blood_pressure':hibp_trends,'high_cholesterol':hichol_trends,})
trends_df = trends_df.fillna(0)
trends_df

,insurance,med_check,alcohol_use,smoking,exercise,general_health,overweight,diabetes,high_blood_pressure,high_cholesterol
++,16.0,0.0,4,17,3,8,7,12,8,0.0
+-,37.0,0.0,39,37,14,12,8,7,5,0.0
-+,0.0,0.0,5,5,9,14,23,17,24,0.0
--,3.0,0.0,31,2,23,22,22,16,12,0.0
0+,110.0,97.0,73,115,72,64,28,48,35,98.0
0-,32.0,35.0,47,15,78,79,87,98,64,31.0
00,61.0,101.0,60,66,60,60,83,61,86,100.0

In [65]:
#Write data
trends_df.to_csv('trend_data.csv')